/*
Styles for print_geonames
*/

html, body {
   font-family: 'Roboto', sans-serif;
}

#geolist {
  margin-top: 60px;
}

li {
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
  padding: 2px;
  text-align: center;
  list-style:none;
}
