<!--
Template for tabbableFrame directive
==
The tabbableContentPane directive is required as a child.
 -->

<div class="tabbable">

  <!-- Navigation bar (Tabs) -->
  <div class="card">
    <div class="card-block">

      <ul class="nav nav-tabs">
        <li
          ng-repeat="pane in vm.panes"
          ng-class="{ active:pane.selected }"
          class="nav-item">

          <a ng-click="vm.updateSelection(pane)" class="nav-link" href="">
            {{ pane.title }}
          </a>

        </li>

      </ul>

      <!-- Selected content -->
      <div class="tab-content" ng-transclude>
      </div>

    </div><!-- end card-block -->
  </div><!-- end card -->

</div><!-- end tabbable -->
